.main {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
    /* background-image: url(/img/section_b_backgrond.png); */
    /* background-color: #ccc; */
    width: 1920px;
    height: 60px;
    margin: 0px;
}

.guide {
    /* 左下角的號誌說明 */
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.back_link {
    font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 23px;
    position: absolute;
    left: 15px;
}

.back_link a {
    text-decoration: none;
    color: #000;
}

.back_link span {
    position: relative;
    top: -7px;
    left: -8px;
}

.chart_section {
    position: absolute;
    right: 25px;
    display: flex;
    flex-direction: row-reverse;
}

.chart_link {
    font-family: Microsoft JhengHei;
    /* font-weight: bold; */
    font-size: 20px;
    margin-left: 20px;
    color: rgb(0, 0, 0, 0.5);
}

.chart_link a {
    text-decoration: none;
    color: #000;
}

.subintersection_ew {
    width: 419px;
    height: 200px;
}

.subintersection_sn {
    width: 260px;
    height: 207px;
}

.corner_1 {
    position: absolute;
    left: 152px;
    top: 40px;
    transform: rotate(270deg);
}

.corner_3 {
    position: absolute;
    left: 20px;
    top: 80px;
    transform: rotate(90deg);
}

.corner_2 {
    position: absolute;
    left: 133px;
    top: 94px;
}

.corner_6 {
    position: absolute;
    left: 69px;
    top: 93px;
}

.corner_8 {
    position: absolute;
    left: 105px;
    top: 28px;
    transform: rotate(180deg);
}

.corner_4 {
    position: absolute;
    left: 38px;
    top: 28px;
    transform: rotate(180deg);
}

.sub_intersection_arrows_1 {
    top: 404px !important;
    left: 1445px !important;
}

.sub_intersection_arrows_3 {
    top: 414px !important;
    left: 472px !important;
}

.sub_intersection_arrows_2 {
    top: 560px !important;
    left: 1235px !important;
    border-radius: 180px;
}

.sub_intersection_arrows_6 {
    top: 560px !important;
    left: 715px !important;
}

.sub_intersection_arrows_8 {
    top: 265px !important;
    left: 1187px !important;
    transform: rotate(180deg) !important;
}

.sub_intersection_arrows_4 {
    top: 265px !important;
    left: 665px !important;
}

.subintersection_flowout_1 {
    top: 206px !important;
    left: 1501px !important;
}

.subintersection_flowin_1 {
    top: 414px !important;
    left: 1501px !important;
}

.subintersection_flowout_3 {
    top: 414px !important;
    left: 0px !important;
}

.subintersection_flowin_3 {
    top: 206px !important;
    left: 0px !important;
}

.subintersection_flowout_2 {
    top: 615px !important;
    left: 1241px !important;
}

.subintersection_flowin_2 {
    top: 615px !important;
    left: 973px !important;
}

.subintersection_flowout_6 {
    top: 615px !important;
    left: 687px !important;
}

.subintersection_flowin_6 {
    top: 615px !important;
    left: 419px !important;
}

.subintersection_flowout_8 {
    top: 0px !important;
    left: 973px !important;
}

.subintersection_flowin_8 {
    top: 0px !important;
    left: 1241px !important;
}

.subintersection_flowout_4 {
    top: 0px !important;
    left: 419px !important;
}

.subintersection_flowin_4 {
    top: 0px !important;
    left: 687px !important;
}

.sub_intersection_name_1 {
    top: 384px !important;
}

.sub_intersection_name_3 {
    top: 384px !important;
}

.sub_intersection_name_2 {
    left: 1140px !important;
}

.sub_intersection_name_6 {
    left: 580px !important;
    top: 756px !important;
}

.sub_intersection_name_8 {
    left: 1138px !important;
}

.sub_intersection_name_4 {
    left: 580px !important;
}


/* Belows are for chart_traffic_flow.html 轉向交通量圖 */
#sub_1_intersection_name {
    left: 140px;
    top: 230px;
}
#sub_2_intersection_name {
    left: 695px;
    top: 123px;
}
#sub_3_intersection_name {
    left: 3px;
    top: 45px;
}
#sub_4_intersection_name {
    left: 390px;
    top:75px;
}
#sub_6_intersection_name {
    left:55px;
    top: 123px;
}
#sub_8_intersection_name {
    left: 1010px;
    top: 75px;
}

#sub_1_flow_out>table {
    height: 150px;
    width: 325px;
    padding-bottom: 16px;
}

#sub_1_flow_in>table {
    height: 150px;
    width: 130px;
    float: left;
}

#sub_3_flow_out>table {
    height: 150px;
    width: 325px;
}

#sub_3_flow_in>table {
    height: 150px;
    width: 130px;
    padding-bottom: 16px;
    float: right;
}

#sub_4_flow_out {
    width: 300px;
    height: 240px;
    padding-right: 8px;
}

#sub_4_flow_in {
    width: 300px;
    height: 96px;
    top: 144px;
    position: relative;
}

#sub_8_flow_in {
    width: 300px;
    height: 96px;
    top: 144px;
    position: relative;
}

#sub_1 {
    position: absolute;
    left: 1573px;
    top: 351px;
}

#sub_3 {
    position: absolute;
    left: 22px;
    top: 351px;
}

#sub_2 {
    position: absolute;
    left: 344px;
    top: 764px;
    display: flex;
    flex-wrap: wrap;
}

#sub_4 {
    position: absolute;
    left: 344px;
    top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.mod_2_or_0 {
    width: 290px;
    height: 96px;
    padding-right: 8px;
}
.mod_6_or_8 {
    width: 290px;
    height: 240x;
    padding-right: 24px;
}

.left_right td {
    height: 30px;
    width: 65px;
}

.top_bottom td {
    height: 48px;
    width: 60px;
}