<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <!-- 定义日志的根目录 -->
    <property name="LOG_PATH" value="./traffic_logs" />
    <!-- 控制台日志格式 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- rsyslog  -->
    <appender name = "RSYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>${TRAFFIC_RSYSLOG_HOST}</syslogHost>
        <facility>${TRAFFIC_RSYSLOG_FACILITY}</facility>
        <suffixPattern>%msg</suffixPattern>
    </appender>

    <logger name="com.wistron.swpc.wismarttrafficlight.service.RsyslogService">
        <appender-ref ref="RSYSLOG"/>
    </logger>

    <!-- error 级别日志单独记录 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/error.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- 保存最近7天的文件-->
            <MaxHistory>${WEB_SERVER_LOG_MAX_DAY}</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- 日志输出格式 -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [ %thread ] - [ %-5level ] [ %logger{50} : %line ] - %msg%n</pattern>
        </layout>
        <!-- 过滤出单独的 error 日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR_FILE"/>
    </root>

</configuration>